.carousel {
    grid-auto-columns: calc((100% / 6) - 12px);
}

.dragging {
    scroll-behavior: auto;
}

.dragging li {
    cursor: grab;
    user-select: none;
}

















@media screen and (max-width:1200px) {
    .carousel {
        grid-auto-columns: calc((100% / 4) - 12px);
    }
}


@media screen and (max-width:750px) {
    .carousel {
        grid-auto-columns: calc((100% / 2) - 12px);
    }
}